.s-heading {
  border: red 1px solid;
  padding: 20px;
  font-size: 40px;
  span {
    position: relative;
    &::after {
      content: "";
      background: url("../images/Vector.svg");
      position: absolute;
      inset: 0;
    }
  }
}

.blog-detailes {
  .right > div {
    background: var(--color-background-100);
    border: 1px solid var(--color-border);
    padding: 32px;
    border-radius: 16px;
  }
}

@media (max-width: 992px) {
  .blog-detailes {
    .left {
      max-width: 60%;
    }
    .right {
      max-width: 40%;
      & > div {
        padding: 16px;
        border-radius: 16px;
      }
      .follow {
        div {
          gap: 0;
          justify-content: space-between;
          img {
            width: 24px;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .blog-detailes {
    .left {
      max-width: 100%;
    }
    .right {
      max-width: 100%;
    }
  }
}
