.info-bg {
  background: url("../images/contact-us.jpeg");
  background-position: center;
  background-size: cover;
  border-radius: 16px;

  position: relative;
  min-height: 100%;
  padding: 20px;

  .info {
    padding: 24px 32px;
    background: white;
    border-radius: 16px;
    border: 1px solid var(--color-border-secondary);
    min-width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    p {
      font-size: 20px;
      font-weight: medium;
    }
  }
}

.map {
  h4 {
    font-size: 50px;
    font-family: "Classyvogue";
  }
}

@media (max-width: 992px) {
  .info-bg {
    min-height: 664px;
  }
}

@media (max-width: 576px) {
  .info-bg {
    min-height: 324px;
    .info {
      padding: 12px;

      .gap-24 {
        gap: 12px;
      }

      p {
        font-size: 12px;
      }
    }
  }
}
