.line {
  height: 1px;
  width: 100%;

  background: linear-gradient(
    90deg,
    rgba(186, 186, 186, 0) 0%,
    #00a32e 51.5%,
    rgba(186, 186, 186, 0) 100%
  );
}

.course-detailes {
  padding-top: 40px;
  padding-bottom: 80px;

  .detailes {
    .left {
      max-width: 70%;
      border-radius: 16px;
      background: white;
      padding: 24px;
    }

    .right {
      max-width: 30%;

      .course-teacher,
      .course-feature {
        padding: 32px;
        background: var(--color-background-100);
        border: 1px solid var(--color-border);
        border-radius: 16px;
      }

      .course-feature {
        p {
          font-size: 16px;
          font-weight: medium;
        }
      }
    }
  }
}

/* Tablate */
@media (max-width: 992px) {
  .course-detailes {
    .i-black-arrow {
      width: 24px;
    }

    .i-black-arrow + h5 {
      font-size: 18px;
    }

    .detailes {
      gap: 16px;

      .left {
        min-width: 100%;
        p {
          font-size: 14px;
        }
      }

      .right {
        min-width: 100%;
        gap: 16px;
        .course-feature {
          padding: 16px;
          p,
          button {
            font-size: 12px;
          }

          img {
            width: 18px;
          }
        }

        .course-teacher {
          padding: 16px;

          button {
            font-size: 12px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .course-detailes {
    .i-black-arrow + h5 {
      font-size: 16px;
    }
  }
}
