.padding-40 {
  padding: 40px;
}

.black-and-white {
  filter: grayscale(100%);
}

.padding-12 {
  padding: 12px;
}
.modal-card {
  padding: 40px;
}

.date-picker {
  max-width: 488px;

  .checkbox-box {
    min-width: fit-content;
    height: 80px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid var(--color-border);

    label {
      cursor: pointer;
    }

    input[type="checkbox"] {
      position: absolute;
      inset: 0;
      appearance: none;
      border-radius: 7px;
      cursor: pointer;

      &:checked {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: var(--color-primary);
        color: white;

        & + label {
          color: white;
        }
      }
    }
  }

  .gradient-checkbox {
    border: 1px solid transparent;
    background: linear-gradient(white, white) padding-box,
      linear-gradient(34.88deg, #00a32e 10.96%, #d6c800 84.58%) border-box;
    border-radius: 8px;
  }
}

@media (max-width: 576px) {
  .modal-card {
    padding: 16px;
  }

  .padding-40 {
    padding: 16px;
  }

  .date-picker {
    width: 328px;
  }
}
