.pricing {
  .ribbon-wrapper {
    position: absolute;
    min-width: 190px;
    max-height: min-content;
    text-align: center;
    top: 25px;
    right: -50px;
    padding: 4px;
    transform: rotate(45deg);

    p {
      margin: 0;
    }
  }
  .pricing-card {
    padding: 40px 32px;
    min-width: fit-content;

    .pricing-card-heading {
      padding-bottom: 20px;
      h4 {
        font-size: 32px;
        font-weight: bold;
      }

      .line {
        width: 100%;
        height: 1px;
        background: linear-gradient(
          270deg,
          rgba(0, 163, 46, 0) 0.01%,
          rgba(0, 163, 46, 0.47) 99.86%
        );
      }
    }

    .pricing-card-detailes {
      .p-20 {
        font-weight: medium;
      }

      img {
        width: 20px;
      }
    }
  }
  .pricing-card-gradient {
    background: linear-gradient(
          129deg,
          rgba(0, 163, 46, 0.17) 14.71%,
          rgba(118, 163, 0, 0.03) 85.98%,
          white
        )
        padding-box,
      linear-gradient(
          129.39deg,
          rgba(0, 163, 46, 0.7) 14.71%,
          rgba(118, 163, 0, 0.14) 85.98%
        )
        border-box;

    border: 1px solid transparent;

    border-radius: 16px;

    background: linear-gradient(
        129deg,
        rgba(0, 163, 46, 0.17) 14.71%,
        rgba(118, 163, 0, 0.03) 85.98%
      ),
      #fff;
  }

  .pricing--bottom-card {
    padding: 32px;
  }
}
